<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../img/favicon.ico"  />
    <link rel="apple-touch-icon" sizes="57x57" href="../img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/cropper.css">
  <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
  <!--[if lt IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
<form name="recorte" id="recorte">
  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Editar Imagem</h3>
      </div>
            <input type="hidden" class="form-control" id="dataX" name="dataX" placeholder="x">
            <input type="hidden" class="form-control" id="dataY" name="dataY" placeholder="y">
            <input type="hidden" class="form-control" id="dataWidth" name="dataWidth" placeholder="width">
            <input type="hidden" class="form-control" id="dataHeight" name="dataHeight" placeholder="height">
            <input type="hidden" class="form-control" id="dataRotate" name="dataRotate" placeholder="rotate">
            <input type="hidden" class="form-control" id="dataScaleX" name="dataScaleX" placeholder="scaleX">
            <input type="hidden" class="form-control" id="dataScaleY" name="dataScaleY" placeholder="scaleY">
            <input type="hidden" name="id" id="page" value="">
            <input type="hidden" name="imagem" id="imagem" value="<%=data[0].imagem%>">
            <input type="hidden" name="id_pub" id="id" value="">            
    </div>
    <div class="row" id="actions">
      <div class="col-md-12 docs-buttons">
        <!-- <h3>Toolbar:</h3> -->

        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Mais Zoom">
            <span class="docs-tooltip" data-toggle="tooltip" title="Mais Zoom">
              <span class="fa fa-search-plus"></span>
            </span>
          </button>
          <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Menos Zoom">
            <span class="docs-tooltip" data-toggle="tooltip" title="Menos Zoom">
              <span class="fa fa-search-minus"></span>
            </span>
          </button>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Mover Esquerda">
            <span class="docs-tooltip" data-toggle="tooltip" title="Mover Esquerda">
              <span class="fa fa-arrow-left"></span>
            </span>
          </button>
          <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Mover Direita">
            <span class="docs-tooltip" data-toggle="tooltip" title="Mover Direita">
              <span class="fa fa-arrow-right"></span>
            </span>
          </button>
          <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Mover Acima">
            <span class="docs-tooltip" data-toggle="tooltip" title="Mover Acima">
              <span class="fa fa-arrow-up"></span>
            </span>
          </button>
          <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Mover Abaixo">
            <span class="docs-tooltip" data-toggle="tooltip" title="Mover Abaixo">
              <span class="fa fa-arrow-down"></span>
            </span>
          </button>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Girar Esquerda">
            <span class="docs-tooltip" data-toggle="tooltip" title="Girar Esquerda">
              <span class="fa fa-rotate-left"></span>
            </span>
          </button>
          <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Girar Direita">
            <span class="docs-tooltip" data-toggle="tooltip" title="Girar Direita">
              <span class="fa fa-rotate-right"></span>
            </span>
          </button>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Virar Horizontal">
            <span class="docs-tooltip" data-toggle="tooltip" title="Virar Horizontal">
              <span class="fa fa-arrows-h"></span>
            </span>
          </button>
          <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Virar Vertical">
            <span class="docs-tooltip" data-toggle="tooltip" title="Virar Vertical">
              <span class="fa fa-arrows-v"></span>
            </span>
          </button>
        </div>

        <div class="btn-group btn-group-crop">
          <button type="button" class="btn btn-primary" data-method="getCroppedCanvas">
            <span class="docs-tooltip" data-toggle="tooltip" title="Visualizar">
              Visualizar
            </span>
          </button>
        </div>

      <div class="col-md-12">
        <div class="img-container">
          <img id="imgCrop" src="../../uploads/<%=data[0].imagem%>" alt="Picture">
        </div>
      </div>

        <!-- Show the cropped image in modal -->
        <div class="modal fade docs-cropped" id="getCroppedCanvasModal" role="dialog" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="getCroppedCanvasTitle">Imagem</h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <a class="btn btn-primary" id="download" onclick="crop();" href="#" name="cropImage">Salvar</a>
                <p id="info"></p>

              </div>
            </div>
          </div>
        </div><!-- /.modal -->

        <input type="hidden" class="form-control" id="putData">

      </div><!-- /.docs-buttons -->

      <div class="docs-toggles">
            <input type="hidden" class="sr-only" id="aspectRatio" name="aspectRatio" value="1060 / 700">
            <input type="hidden" class="sr-only" id="viewMode0" name="viewMode" value="0">
      </div><!-- /.docs-toggles -->
    </div>
  </div>

</form>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="../../js/cropper.js"></script>
  <script src="../../js/crop.js"></script>
  <script src="../../js/main.js"></script>
</body>
</html>