<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
    
        <h2>Hello world<h2>
        <a class="a-inside edit" href="../customers">Listar</a>
    </body>

</html>
